.title {
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  font-weight: 700;
  color: blueviolet;
}
.number {
  font-size: 25px;
  text-align: center;
}
button {
  padding: 20px;
  min-width: 30px;
  border: 1px solid #8a2be2;
  font-size: 20px;
  border-radius: 10px;
  margin: 10px;
}
button:hover{
  background-color: #8a2be2;
  color: white;
  border-radius: 5px;
}
.btn-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

@media (max-width: 505px) {
  button{
    width: 100%;
  }
}